.table-controls {
    user-select: none;
    box-sizing: border-box;
    background-color: var(--background-table, #f8f9fa);
    border: 1px solid var(--table-border, #a2a9b1);
    padding: 0.5em 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px 14px;
    line-height: normal;
    color: var(--table-content);
}

.table-controls div.controls > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height:32px;
    width:34px;
    margin: 0 1px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.table-controls div.controls > span:focus {
	outline: 2px solid var(--border-color-progressive--focus, #36c);
    outline-offset: 2px;
}

.table-controls .inactive {
    filter: grayscale(0.3);
    opacity: 0.4;
}

.table-controls .controls-school .inactive {
    filter: grayscale(0.8);
    opacity: 0.35;
}





.table-controls div.controls-class > span {
    width: 82px;
    height: 26px;
    border-width: 0 3px;
    border-style: solid;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ecf5f9;
    transform: skewX(-10deg);
}

.table-controls div.controls-class > .class-striker {
    border-color: #f54d29;
}
.table-controls div.controls-class > .class-special {
    border-color: #0785fb;
}

.table-controls div.controls-class > span {
    margin: 0 1px!important;
}

.table-controls div.controls-school > span {
    margin: 0 1px!important;
}

.table-controls div.controls-attack > span,
.table-controls div.controls-armor > span,
.table-controls div.controls-role > span {
    border: 1px solid #2d4c72;
}

.table-controls div.controls-attack img,
.table-controls div.controls-armor img,
.table-controls div.controls-role img  {
    opacity: 0.8;
}

.table-controls .controls.textbuttons > span,
.table-controls div.controls-pool > span {
    width: auto;
    height: 26px;
    padding: 0 4px;
    min-width: 60px;
    border-width: 0 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: #112134;
    font-size: 16px;
    font-weight: bold;
    /* text-transform: uppercase; */
    background-color: #ecf5f9;
    transform: skewX(-10deg);
}

.table-controls div.controls-pool {
    flex-grow: 1;
    text-align: right;
}

/* .table-controls div.controls-pool > span.pool-anniversary {
    width: 82px;
} */

.table-controls div.controls-school .school-abydos > img {
    object-position: 0 3px;
}

.table-controls div.controls-search {
    flex-grow: 1;
    min-width: 240px;
}

.table-controls div.controls-search input,
.table-controls div.controls-search .input-placeholder {
    height: 34px;
    width: 100%;
    min-width: 240px;
    box-sizing: border-box;
    padding-inline: 0.4em;
    background-color: var(--background-color-base,#fff);
    border: 1px solid var(--border-color-base,#a2a9b1);
    border-radius: 2px;

    font-size: inherit;
    font-family: inherit;
}


/* Radio group styling */
.table-controls .controls[role="radiogroup"] > span {
    margin: 0;
    border-radius: 0;
}

.table-controls .controls[role="radiogroup"] > span + span {
    border-left-width: 0;
}

.table-controls .controls[role="radiogroup"] > span:first-child {
    border-radius: 8px 0 0 8px;
}

.table-controls .controls[role="radiogroup"] > span:last-child {
    border-radius: 0 8px 8px 0;
}

.table-controls .controls[role="radiogroup"] > span:focus {
    z-index: 1;
}



@media (max-width: 1200px) {
    .table-controls div.controls-school,
    .table-controls div.controls-pool {
        flex-grow: 1;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .table-controls div.controls-school > span {
        margin: 0 -2px !important;
    }
}



/* Event Table controls */
.eventtable-controls .event-primary-control {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.eventtable-controls .event-control-label {
    font-size: 0.9em;
}

.eventtable-controls .controls-release {
    display: flex;
    gap: 2px;
}

.eventtable-controls .controls.textbuttons > span {
    color: var(--table-content, #202122);
    background-color: var(--background-color-interactive-subtle, #ecf5f9);
    border-color: var(--table-border, #112134);
}

.table-controls .controls[role="radiogroup"] {
    display: flex;
    gap: 0;
}
